<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <h1>Bonjour <%= @user.first_name %> et bievenue chez KittenShop ! </h1>

  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, itaque quas sit facere molestias.
  Quasi suscipit asperiores cumque ea non sunt amet culpa dolore tempore, fuga repudiandae eum quibusdam maiores.</p>

  <p>A bientot !</p>

</body>
</html>
